.comment-box {
    padding: 10px;
  }
  
  .detail-table {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  .mat-mdc-form-field{
    flex-direction: unset;
    margin: 8px 8px;
  }