.relative {
    position: relative;
  }
  
  .absolute {
    position: absolute;
  }
  
  .top-0 {
    top: 0;
  }
  
  .left-0 {
    left: 0;
  }
  
  /* You can adjust these properties to fit your design */
  .flex {
    display: flex;
    gap: 20px;
  }
  
 
  
 mat-card{
    margin: 15px;
 }
  