<div class="comment-box">
    <div class="d-flex justify-content-end">
      <button mat-icon-button (click)="close()">
        <mat-icon class="icon">close</mat-icon>
      </button>
    </div>
  
    <div class="profile-section d-flex justify-content-center">
      <img [src]="data.profilePic" alt="Profile Picture" class="profile-pic" />
    </div>
  
    <div class="detail-table">
      <table border="1" cellspacing="0" cellpadding="10">
        <thead>
          <tr>
            <th>Field</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Name</td>
            <td>{{ data?.name }}</td>
          </tr>
          <tr>
            <td>Gender</td>
            <td>{{ data?.gender }}</td>
          </tr>
          <tr>
            <td>Date of Birth</td>
            <td>{{ data?.dateOfBirth | date: 'longDate' }}</td>
          </tr>
          <tr>
            <td>Phone No</td>
            <td>{{ data?.phoneNo }}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{ data?.email }}</td>
          </tr>
          <tr>
            <td>City</td>
            <td>{{ data?.city }}</td>
          </tr>
          <tr>
            <td>Area</td>
            <td>{{ data?.area }}</td>
          </tr>
          <tr>
            <td>Aadhaar Front</td>
            <td><a [href]="data.aadhaarUpload.frontPhoto" target="_blank">View Aadhaar Front</a></td>
          </tr>
          <tr>
            <td>Aadhaar Back</td>
            <td><a [href]="data.aadhaarUpload.backPhoto" target="_blank">View Aadhaar Back</a></td>
          </tr>
          <tr>
            <td>PAN Upload</td>
            <td><a [href]="data.panUpload" target="_blank"><img *ngIf="data.panUpload" [src]="data?.panUpload" alt="Photo 1" style="width: 100px; height: 100px;"/></a></td>

          </tr>
          <tr>
            <td>Status</td>
            <td>
              <mat-form-field appearance="outline" class="status-dropdown">
                <mat-label>Status</mat-label>
                <mat-select [(ngModel)]="data.status" (selectionChange)="updateStatus($event)">
                  <mat-option *ngFor="let item of Status" [value]="item.value">
                    {{ item.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
