<div class="comment-box">
  <div class="d-flex justify-content-end">
    <button mat-icon-button (click)="close()">
        <mat-icon >close</mat-icon>
      </button>
</div>
    
    <div class="detail-table">
      <table border="1" cellspacing="0" cellpadding="10">
        <thead>
          <tr>
            <th>Field</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody >
          <tr>
            <td>Name</td>
            <td>{{ data?.name }}</td>
          </tr>
          <tr>
            <td>Date of Birth</td>
            <td>{{ data?.dateOfBirth | date: 'longDate' }}</td>
          </tr>
          <tr>
            <td>Phone No</td>
            <td>{{ data?.phoneNo }}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{ data?.email }}</td>
          </tr>
          <tr>
            <td>Working Company</td>
            <td>{{ data?.workingCompany }}</td>
          </tr>
          <tr>
            <td>Address</td>
            <td>{{ data?.address }}</td>
          </tr>
          <tr>
            <td>State</td>
            <td>{{ data?.state }}</td>
          </tr>
          <tr>
            <td>Pin Code</td>
            <td>{{ data?.pinCode }}</td>
          </tr>
          <tr>
            <td>Advance Amount</td>
            <td>{{ data?.advanceAmount | currency }}</td>
          </tr>
          <tr>
            <td>Advance Purpose</td>
            <td>{{ data?.advancePurpose }}</td>
          </tr>
          <tr>
            <td>status</td>
            <mat-form-field class="text-base w-full" appearance="outline" >
                <mat-label>Status</mat-label>
               
                <mat-select [(ngModel)]="data.status"  
                  (selectionChange)="updateStatus($event)"
                >
                  <mat-option
                    *ngFor="let item of Status"
                    [value]="item.value"
                  >
                    {{ item.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
