.footer-about {
  height: 100px !important;
  overflow: hidden;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100px; /* Set the fixed height */
  line-height: 1.8; /* Adjust the line-height */
  max-height: 100px;
  text-overflow: ellipsis;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
