.footer-about{
    height: 100px !important;
    overflow: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100px;  /* Set the fixed height */
    line-height: 1.8;  /* Adjust the line-height */
    max-height: 100px;
    text-overflow: ellipsis;
}