<footer id="newsletter">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="footer-widget">
          <h4>Contact us on</h4>
          <p><a href="#">+91 8971268156</a></p>
          <p><a href="#">info.inquirebuzz@gmail.com</a></p>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="footer-widget">
          <h4>Quick Links</h4>
          <ul>
            <li>
              <a style="margin-right: 15px" href="#top">Home</a>
              <a href="#services">Services</a>
            </li>
            <li>
              <a style="margin-right: 15px" href="#about">About</a>
              <a href="#pricing">Pricing</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="footer-widget">
          <h4 style="text-align: center">About Our Company</h4>
          <div style="display: flex; gap: 15px; align-items: center">
            <div class="logo">
              <img src="assets/images/logo.jpeg" alt="" />
            </div>
            <p class="footer-about">
              Rider Pocket is a leading delivery platform in India, dedicated to
              supporting job seekers looking for delivery roles in their local
              areas. The platform serves as a helping hand for delivery riders,
              providing not just career opportunities but also additional income
              and exclusive benefits through the Rider Pocket app.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="copyright-text">
          <p>
            Copyright © 2024 Raider pocket Company. All Rights Reserved.
            <br />
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
