<div id="js-preloader" class="js-preloader">
  <div class="preloader-inner">
    <span class="dot"></span>
    <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
<app-header></app-header>

<div
  class="main-banner wow fadeIn"
  id="top"
  data-wow-duration="1s"
  data-wow-delay="0.5s"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 align-self-center">
            <div
              class="left-content show-up header-text wow fadeInLeft"
              data-wow-duration="1s"
              data-wow-delay="1s"
            >
              <div class="row">
                <div class="col-lg-12">
                  <h2>Get The Latest App From Play Stores</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div
              class="right-image wow fadeInRight"
              data-wow-duration="1s"
              data-wow-delay="0.5s"
            >
              <img src="assets/images/slider-dec.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="services" class="services section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div
          class="section-heading wow fadeInDown"
          data-wow-duration="1s"
          data-wow-delay="0.5s"
        >
          <h4 [innerHtml]="webSiteData.SERVICES.title"></h4>
          <img src="assets/images/heading-line-dec.png" alt="" />
          <div [innerHtml]="webSiteData.SERVICES.description"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row d-flex align-items-stretch">
      <div
        class="col-lg-3"
        *ngFor="let service of webSiteData.SERVICES.services"
      >
        <div class="service-item" [ngClass]="service.iconClass">
          <div class="icon"></div>
          <h4>{{ service.title }}</h4>
          <p>{{ service.description }}</p>
          <p *ngIf="service.showMore">{{ service.moreInfo }}</p>
          <div class="text-button" (click)="toggleMoreInfo(service)">
            <a>
              {{ service.showMore ? "Read Less" : "Read More" }}
              <i
                class="fa"
                [ngClass]="{
                  'fa-arrow-right': !service.showMore,
                  'fa-arrow-left': service.showMore
                }"
              ></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="about" class="about-us section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center">
        <div class="section-heading">
          <h4>About <em>What We Do</em> &amp; Who We Are</h4>
          <img src="assets/images/heading-line-dec.png" alt="" />
          <p>
            Rider Pocket is one of the Indias leading delivery platform .Rider
            Pocket helps for job seekers who are looking for delivery jobs in
            their locality,We are helping hand for riders providing career
            growth along with aditional income through RIDER POCKET appIn rider
            pocket once rider can onboard they will get benifits of joining kit
            , delivery job along with electric bike. delivery riders get more
            benifits they can claims their hospital bills ,Bike service bills,
            New mobile bills and get cash back offers in Rider Pocket app
          </p>
          <p>
            Once onboarded, riders gain access to a range of perks, including a
            joining kit, delivery jobs, and even an electric bike to facilitate
            their work. Rider Pocket goes beyond basic job support by offering
            benefits such as reimbursement for hospital bills, bike service
            expenses, and new mobile purchases. Riders also enjoy cashback
            offers through the app, making it a comprehensive solution for
            delivery professionals aiming for career growth and financial
            stability. By combining employment opportunities with tangible
            benefits, Rider Pocket is revolutionizing the delivery industry,
            empowering riders to thrive both professionally and personally.
          </p>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="box-item">
              <h4><a href="#">Zero Maintance Cost</a></h4>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="box-item">
              <h4><a href="#">24/7 Help &amp; Support</a></h4>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="box-item">
              <h4><a href="#">Road side assistance</a></h4>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="box-item">
              <h4><a href="#">Swapping Battery</a></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="right-image">
          <img src="assets/images/about-right-dec.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<div id="about" class="about-section">
  <div class="container">
    <div class="row d-flex align-items-stretch">
      <div
        *ngFor="let section of webSiteData.MISSION_VISION_VALUES_OBJECTIVE"
        class="col-lg-3 col-md-6 mb-4"
      >
        <div class="box-item h-100">
          <h4>{{ section.title }}</h4>
          <ul>
            <li *ngFor="let item of section.items">
              <b>{{ item.label }}:</b> {{ item.description }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="pricing" class="pricing-tables">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="section-heading">
          <h4>{{ webSiteData.PRICINGPLANS.heading.title }}</h4>
          <img
            [src]="webSiteData.PRICINGPLANS.heading.image"
            alt="Heading Decoration"
          />
          <p>{{ webSiteData.PRICINGPLANS.heading.description }}</p>
        </div>
      </div>
      <div
        *ngFor="let plan of webSiteData.PRICINGPLANS?.pricingPlans"
        class="col-lg-4"
        [class.offset-lg-2]="plan.price === '₹499'"
      >
        <div class="pricing-item-pro">
          <span class="price">{{ plan.price }}</span>
          <h4>{{ plan.title }}</h4>
          <div class="icon">
            <img [src]="plan.icon" alt="Pricing Icon" />
          </div>
          <ul>
            <li *ngFor="let feature of plan.features">
              <b>{{ feature.label }}:</b> {{ feature.description }}
            </li>
          </ul>
          <div
            *ngIf="plan?.buttonText"
            class="border-button"
            (click)="plan?.buttonAction()"
            style="cursor: pointer"
          >
            <a>{{ plan?.buttonText }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
